<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8A970AD1BF7617300F478E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A970C61BF7617400F478E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A970D11BF7617400F478E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
